

$maincolor : color(hsla(190, 100%, 50%, 1));
$maincolor-dark :     color( $maincolor l( - 10%))  ;
$maincolor-darker :   color( $maincolor l( - 20%))  ;
$maincolor-light :    color( $maincolor l( + 10%))  ;
$maincolor-lighter :  color( $maincolor l( + 20%))  ;


$altcolor :        	#4FE8BA;
$altcolor-dark :    color( $altcolor  	l( - 10%))  ;
$altcolor-darker :  color( $altcolor  	l( - 20%))  ;
$altcolor-light :   color( $altcolor  	l( +10%))  ;
$altcolor-lighter : color( $altcolor  	l( + 20%))  ;

$accentcolor :  #63FFA4;
$accentcolor-dark :   color( $accentcolor  		l( - 10%))  ;
$accentcolor-darker :  color( $accentcolor  	l( - 20%))  ;
$accentcolor-light :  color( $accentcolor  		l( + 10%))  ;
$accentcolor-lighter :  color( $accentcolor  	l( + 20%))  ;



$bluecolor : rgb(059,130,204);


$greencolor : rgb(059,130,204);




$redcolor :  rgb(204,69,059);

$graycolor : rgb(121,137,153);


$pinkcolor : rgb(255,182,163);


$orangecolor : rgb(255,182,163);





